div.donation-container {
    margin: auto;
    padding: 8% 5%;
    background-color: #F6F6F6;
}

div.donation-content {
    display: flex;
    justify-content: center;
}

div.donation-text-content {
    width: 30%;
    padding-left: 5%;
}

div.donation-text-content h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    color: #545454;
    width: 80%;
    padding-bottom: 3%;
}
div.donation-text-content h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;

    color: #545454;
    padding-bottom: 3%;
}

div.donation-text-content button {
    background: #F1CDB3;
    border-radius: 9px;
    border: none;
    color: #545454;
    padding: 1.5% 2.5%;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    display: flex;
    margin-bottom: 3.5%;
}

div.donation-text-content button img {
    padding-right: 0.6em;
}

div.donation-text-content p {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #B2B2B2;
    width: 110%;
}